.table {
  width: 800px;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin: 10px auto;
}

.title {
  padding: 10px;
  background-color: #444343;
  color: #fff;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.cell {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
.cell:first-child {
  text-transform: capitalize;
}
tr:nth-child(even) {
  background-color: #8a8989;
}

tr:hover {
  background-color: #eaeaea;
}
